/** header */
header {
    background: linear-gradient(135deg, #00008b,#00003b);
}

.navbar {
    box-shadow: 1px 3px 3px gray;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
}

/** conteiner */
.wrapper{
    min-height: 100vh;
    position: relative;
    padding-bottom: 35px;
    box-sizing: border-box;
}

.img-fluid {
    margin-bottom: 30px;
    border-radius: 10px;
    animation-name: fadedown1;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}
@keyframes fadedown1 {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    100% {
        opacity: 1;
        transform: translateY(10px);
    }
}

.pgl-stage {
    margin-top: 10px;
}

.col-md{
    margin-bottom: 15px;
    max-width: 23.5rem;
    min-width: 20rem;
}

.line{
    animation-name: lineanime;
    animation-timing-function: ease;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    border-bottom: 2px solid #00008b;
}
@keyframes lineanime {
    from {
        opacity: 0;
        transform: translateX(-150%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.card {
    animation-name: fadein;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;

    display: inline-block;
    margin: 1% 3%;
}
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.card-img-top {
    object-fit: cover;
}

.card-body {
    min-height: 201px;
}

.card-title {
    font-weight: bold;
    margin-bottom: 0px;
}

.badge {
    margin-left: 5px;
    font-size: 14px;
    font-weight: normal;
}

.btn {
    color: #fff;
    background-color: #00008b;
}
.btn:hover {
    color: #fff;
    background-color: #00005b;
}

.carousel {
    width: 80%;
}

.futidori{
    color: #fff;
    text-shadow: 
        1px  1px 0px #000000, -1px  1px 0px #000000, 1px -1px 0px #000000,
        -1px -1px 0px #000000, 1px  0px 0px #000000, 0px  1px 0px #000000,
        -1px  0px 0px #000000, 0px -1px 0px #000000; 
}

.carousel-caption {
    opacity: 0;
}

.portfolio-field {
    margin-top: 20px;
    margin-left: 10px;
}

.portfolio-block {
    display: flex;
}

.portfolio-subject {
    flex: 1;
}

.portfolio-sentence {
    width: 80%;
    text-align: left;
}

/** Footer */

footer {
    width: 100%;
    height: 30px;
    margin-top: 30px;
    text-align: center;
    position: absolute;
    bottom: 0;
}

/* レスポンシブ */
@media (max-width: 991px)
{
    .navbar-nav{
        padding-top: 5px;
    }
    .col-md{
        max-width: 20rem;
        min-width: 20rem;
    }
}