/** スキルページCSS */

.card, .card-img-top {
    animation-name: fadein2;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

/* レスポンシブ */
@media (max-width: 800px)
{
    .card {
        width: 40%;
    }
}

/* 保有資格/合格試験 */
.cert-list {
    list-style-type: square;
}

/* 経歴/経験 */
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: rgb(53, 57, 59);
    display: inline-block;
    position: absolute;
    left: 29px;
    top: 5px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline li:before {
    content: ' ';
    background: rgb(88, 96, 100);
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid rgb(62, 68, 70);
    margin-top: 5px;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

ul.timeline .timeline-title {
    font-weight: bold;
    font-size: 20px;
}
ul.timeline .timeline-time {
    margin-left: 5px;
}