/** ブログCSS */

.main_field, .main_article_field {
    margin-top: 40px;
    width: 70%;
}

.main_field {
    width: 50%;
}

.blog_page_field, .article_top {
    margin-bottom: 30px;
}

.article_top {
    margin-top: 10px;
}

.blog_page_title, .article_page_title  {
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.article_page_title {
    margin-top: 10px;
}

.previous_field {
    margin: 15px 0;
}

/* 記事アイテム */
.article_listitem {
    margin-bottom: 50px;
    padding-bottom: 10px;
}

.sidebar .article_listitem,
.sidebar_article .article_listitem {
    margin-bottom: 0;
    padding: 0;
}

.thumbnail_img, .thumbnail_img_mini {
    max-height: 200px;
    width: 100%;
}
.thumbnail_img:hover, .thumbnail_img_mini:hover {
    filter: brightness(75%);
}

/* 記事ページ */

.article_title {
    font-size: 20px;
    margin: 0px;
}
.article_title_link, .sidebar_article_title_link {
    font-weight: bold;
    color: var(--accent-color);
}
.article_title_link:hover, .sidebar_article_title_link:hover {
    color: rgba(254, 231, 175, 0.75);;
}

.article_info_data, .article_info_link {
    color: var(--primary-text-color);
    vertical-align: middle;
    margin: 5px;
    margin-right: 10px;
    font-size: 15px;
}

.article_info_link {
    color: var(--accent-color);
}
.article_info_link:hover {
    color: rgba(254, 231, 175, 0.75);
}

.article_outline {
    width: 45%;
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    background-color: var(--content-bg-color);
    border: solid 2px var(--border-color);
    border-radius: 5px;
}
.article_outline ul {
    margin: 0;
    padding: 0;
}
.article_outline li {
    margin: 5px 0;
}
.article_outline .h3_outline_indent {
    margin-left: 1em;
}
.article_outline .h4_outline_indent {
    margin-left: 2em;
}
.article_outline .h5_outline_indent {
    margin-left: 3em;
}

.article_body_field p,
.article_body_field ul,
.article_body_field ol
{
    margin: 0;
}

.article_body_field img
{
    margin: 5px 0;
}

.article_body_field h2,
.article_body_field h3, 
.article_body_field h4,
.article_body_field h5
{
    padding-top: 75px;
    margin-top: -65px;
}

.article_body h2 {
    border-bottom: 1px solid var(--border-color);
}

.article_body blockquote {
    border-left: 5px solid var(--border-color);
    padding-left: 10px;
}

.article_body ul {
    list-style-type: square;
}

.article_body th {
    border-bottom: 2px solid var(--primary-text-color);
    text-align: center;
    padding: 0 10px;
    padding-bottom: 2px;
}

.article_body th p, .article_body td p {
    margin-bottom: 0;
}

.article_body td {
    border-top: 1px solid var(--primary-text-color);
    padding: 5px 10px;
}

.article_body img {
    max-width: 100%;
    height: auto;
}

.article_body code:not(pre code) {
    color: rgb(221, 83, 151);
}

/* サイドバー */
.sidebar, .sidebar_article {
    min-width: 280px;
    width: 15%;
    margin-left: 5%;
    margin-top: 50px;
    padding: 10px;
}

.sidebar_item_field {
    margin-bottom: 10px;
}

.sidebar_header {
    font-size: 20px;
    border-bottom: 3px solid var(--border-color);
    margin-bottom: 8px;
}

.sidebar_item_field div {
    margin: 5px 0;
}

.sidebar_article_listitem {
    margin-bottom: 20px;
}

.sidebar_article_title {
    font-size: 15px;
    margin: 0px;
}

@media (max-width: 991px)
{
    .main_field, .main_article_field { 
        width: 90%;
        margin: 0 auto;
        margin-top: 40px;
    }
    .main_article_field {
        margin-bottom: 100px;
    }
    .article_listitem {
        margin-bottom: 0;
        padding-bottom: 0px;
    }
    .thumbnail_img, .thumbnail_img_mini {
        max-height: none;
    }
    .thumbnail_img_mini {
        width: 50%;
    }
    .sidebar {
        min-width: 0px;
    }
    .sidebar_article {
        width: 100%;
        min-width: 0px;
        margin-top: 15px;
        margin-left: 0;
        padding: 0;
    }
}

@media (max-width: 767px)
{
    .article_outline {
        width: auto;
    }
    
    .sidebar {
        width: 90%;
        margin: 0 auto;
        margin-top: 15px;
        padding: 0;
    }
}