/** ページ共通CSS */

:root {
    --border-color: rgb(62, 68, 70);
    --primary-bg-color: rgb(19, 21, 22);
    --secondary-bg-color: rgb(24, 26, 27);
    --content-bg-color: rgb(53, 57, 59);
    --accent-color: rgb(254, 231, 175);
    --primary-text-color: rgb(209, 205, 199);
}

::-webkit-scrollbar {
    background-color: #202324;
    color: #aba499;
}
::-webkit-scrollbar-corner {
    background-color: #181a1b;
}
::-webkit-scrollbar-thumb {
    background-color: #454a4d;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    min-width: 320px;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

a {
    text-decoration: none;
    color: var(--accent-color);
}
a:hover {
    color: rgba(254, 231, 175, 0.75);
}

ul {
    list-style-type: none;
}

/* header */
header {
    border-bottom: 2px solid var(--border-color);
    background-color: var(--secondary-bg-color);
}

.header-navbar {
    padding: 8px 20px;
}

/* main */
.wrapper {
    min-height: 100vh;
    position: relative;
    padding-bottom: 180px;
    box-sizing: border-box;
}

.page-top-sentence {
    margin: 50px 0;
    letter-spacing: 3px;
}

.content-head-text {
    margin-bottom: 10px;
    padding-left: 15px;
    padding-bottom: 3px;
    border-bottom: 1px solid var(--border-color);
    letter-spacing: 3px;
}

.p-h5replace {
    font-size: 1.25rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

.content-field {
    margin: 10px 0;
}

.top-img {
    margin: 30px 0;
}

.img-fluid {
    border-radius: 10px;
}

.card-img-top {
    object-fit: cover;
}

.next-image {
    width: 100%;
    height: 96%;
    object-fit: "scale-down";
}

.card {
    display: inline-block;
    margin: 1% 3%;
    width: 18rem;
    background-color: var(--content-bg-color);
    text-align: left;
}

.btn {
    color: var(--primary-text-color);
    background-color: var(--content-bg-color);
}
@media (hover: hover) {  /* PC */
    .btn:hover{
        color: var(--primary-text-color);
        background-color: rgba(53, 57, 59, 0.75);
    }
}
@media (hover: none) {  /* モバイル */
    .btn:active{
        color: var(--primary-text-color);
        background-color: rgba(53, 57, 59, 0.75);
    }
}
.btn:focus {
    box-shadow: none;
    color: var(--primary-text-color);
}

.modal-content {
    border: none;
}

.modal-header .btn-close:focus {
    box-shadow: none;
}

.modal-header {
    border-bottom: 1px solid var(--primary-text-color);
}

.modal-footer {
    border-top: 1px solid var(--primary-text-color);
}

.carousel-indicators button {
    background-color: var(--border-color);
    border-right-color: initial;
    border-left-color: initial;
    border-top-color: transparent;
    border-bottom-color: transparent;
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}

.carousel-control-next, .carousel-control-prev {
    width: 5%;
}

.page-item.active .page-link {
    color: var(--primary-text-color);
    background-color: var(--content-bg-color);
    border-color: var(--border-color);
}

.page-link {
    color: var(--accent-color);
    background-color: var(--primary-bg-color);
    border-color: var(--border-color);
}

.page-link:hover, .page-link:focus {
    color: var(--accent-color);
    background-color: var(--border-color);
    border-color: var(--border-color);
}

.breadcrumb-item+.breadcrumb-item::before, .breadcrumb-item.active {
    color: #aba499;
}

/* Footer */
footer {
    width: 100%;
    padding: 20px;
    position: absolute;
    bottom: 0;
    text-align: center;
    border-top: 1px solid var(--border-color);
    background-color: var(--secondary-bg-color);
}

.footer-nav {
    margin-bottom: 30px;
    font-size: 20px;
}
.footer-nav a {
    color: var(--primary-text-color);
}
.footer-nav a:hover {
    color: rgba(209, 205, 199, 0.75);
}

footer span {
    color: rgba(209, 205, 199, 0.65);
}

/* レスポンシブ */
@media (max-width: 991px) {
}

@media (min-width: 768px) {
    .wrapper {
        padding-bottom: 180px;
    }

    footer {
        height: 140px;
    }
}

@media (max-width: 677px) {
    .wrapper {
        padding-bottom: 220px;
    }

    footer {
        height: 180px;
    }
}

@media (max-width: 650px) {
    .navbar-brand img {
        width: 420px;
    }
}

@media (max-width: 530px) {
    .navbar-brand img {
        width: 360px;
    }
}

@media (max-width: 480px) {
    .navbar-brand img {
        width: 300px;
    }
}

@media (max-width: 425px) {
    .navbar-brand img {
        width: 280px;
    }
    .top-img {
        width: 128px;
    }
}

@media (max-width: 400px) {
    .wrapper {
        padding-bottom: 240px;
    }

    footer {
        height: 200px;
    }
}

@media (max-width: 390px) {
    .navbar-brand img {
        width: 250px;
    }
}

@media (max-width: 365px) {
    .navbar-brand img {
        width: 200px;
    }

    .wrapper {
        padding-bottom: 330px;
    }

    footer {
        height: 290px;
    }
}
