/** トップページCSS */

.content_field {
    margin: 20px 0;
}

.content_item {
    display: flex;
    margin: 0px;
    margin-bottom: 5px;
    padding-left: 5px;
}

/* プロフィール */
.material_icons_md_36_light {
    color: rgb(209, 205, 199);
    font-size: 36px;
}

.profile_caption_field,
.community_caption_field {
    flex: 1;
    display: inline;
}

.profile_caption_text,
.community_caption_text {
    margin-left: 0.5em;
    font-weight: bold;
}

.profile_text,
.community_text {
    width: 80%;
    margin: 0;
    padding-top: 7px;
    text-align: left;
}

.profile_btn_more {
    height: 38px;
    text-align: right;
}

/* アクティビティ */

.card {
    width: 75%;
    margin: 0 12.5%;
    padding: 10px 0;
}

.github_contributors {
    text-align: center;
    margin: 0 2%;
}

.ContributionCalendar_label {
    padding: 0.125em 0.5em 0.125em 0;
    font-size: 12px;
    /* font-weight: var(--base-text-weight-normal, 400); */
    /* color: var(--color-fg-default); */
    text-align: left;
    /* fill: var(--color-fg-default); */
}
.ContributionCalendar_day, .ContributionCalendar_day[data-level="0"] {
    fill: var(--color-calendar-graph-day-bg);
    shape-rendering: geometricPrecision;
    background-color: var(--color-calendar-graph-day-bg);
    border-radius: 2px;
    outline: 1px solid var(--color-calendar-graph-day-border);
    outline-offset: -1px;
}
.ContributionCalendar_day[data-level="1"] {
    fill: var(--color-calendar-graph-day-L1-bg);
    background-color: var(--color-calendar-graph-day-L1-bg);
    outline: 1px solid var(--color-calendar-graph-day-L1-border);
}
.ContributionCalendar_day[data-level="2"] {
    fill: var(--color-calendar-graph-day-L2-bg);
    background-color: var(--color-calendar-graph-day-L2-bg);
    outline: 1px solid var(--color-calendar-graph-day-L2-border);
}
.ContributionCalendar_day[data-level="3"] {
    fill: var(--color-calendar-graph-day-L3-bg);
    background-color: var(--color-calendar-graph-day-L3-bg);
    outline: 1px solid var(--color-calendar-graph-day-L3-border);
}
.ContributionCalendar_day[data-level="4"] {
    fill: var(--color-calendar-graph-day-L4-bg);
    background-color: var(--color-calendar-graph-day-L4-bg);
    outline: 1px solid var(--color-calendar-graph-day-L4-border);
}

.github_contributors_weekly {
    background-color: rgb(63, 67, 69);
    padding: 0 10px;
    border-radius: 0.25rem;
}

.github_widgets {
    padding: 10px;
    text-align: center;
}

.stats {
    display: inline-block;
    text-align: center;
}

.stats img {
    margin-bottom: 75px;
}

.langs {
    display: inline-block;
}

/* サイドペイン */
.side_pain {
    margin: 0 2%;
}

.tweet_timeline_field {
    width: 300px;
    margin: 0 auto;
    margin-top: 30px;
}

/* レスポンシブ */
@media (max-width: 1550px) {
    .side_pain {
        width: 100%;
    }
}

@media (max-width: 1119px) {
    .github_widgets {
        text-align: left;
    }

    .stats img {
        margin-bottom: 5px;
    }
}

@media (max-width: 768px) {
    .profile_text {
        width: 70%;
    }
}

@media (max-width: 425px) {
    .content_item {
        padding-left: 5px;
        display: block;
    }

    .profile_text,
    .community_text {
        padding-top: 0;
        padding-left: 3px;
        width: 100%;
    }
}
