/** ボートフォリオページCSS */

.portfolio_card{
    margin-bottom: 15px;
    min-width: 20rem;
}

.portfolio_card_img {
    cursor: pointer;
}
.portfolio_card_img:hover {
    filter: brightness(50%);
}

.portfolio_card_body {
    min-height: 201px;
}

.portfolio_card_title {
    display: inline;
    font-weight: bold;
    margin-bottom: 0px;
}

.portfolio_card_badge {
    margin-left: 5px;
    font-size: 14px;
    font-weight: normal;
}

.portfolio_card_badge_info {
    font-weight: bold;
    color:var(--content-bg-color)!important;
    background-color: var(--accent-color) !important;
}

.btn {
    background-color: rgba(24, 26, 27, 0.5);
}
@media (hover: hover) {  /* PC */
    .btn:hover{
        color: var(--primary-text-color);
        background-color: rgba(24, 26, 27, 0.75);
    }
}
@media (hover: none) {  /* モバイル */
    .btn:active{
        color: var(--primary-text-color);
        background-color: rgba(24, 26, 27, 0.75);
    }
}

.modal_dialog {
    margin: 0;
}

.modal_content {
    background-color: var(--content-bg-color);
}

.modal_body {
    max-height: calc(80vh - 20px);
    overflow-y: auto;
}

.modal_keyword {
    display: block;
    font-size: 15.43px;
}

.carousel {
    width: 80%;
    margin: 0 auto;
}

.portfolio_field {
    margin-top: 20px;
    margin-left: 10px;
}
.portfolio_item {
    display: flex;
}
.portfolio_subject {
    flex: 1;
    font-weight: bold;
}
.portfolio_sentence {
    width: 80%;
    text-align: left;
}

/* レスポンシブ */
@media (max-width: 750px)
{
    .portfolio_card{
        max-width: none;
    }
}

@media (max-width: 425px)
{
    .portfolio_item {
        padding-left: 5px;
        margin: 0px 0px;
        display: block;
    }
    .portfolio_subject {
        flex: none;
    }
    .portfolio_sentence{
        width: 100%;
    }
}
